/* font-family: "Dosis", sans-serif; */
/* font-family: "Open Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

body, p, a {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#main {
    width: 626px;
    margin: 64px auto 0px;
}

img {
    margin-bottom: 32px;
}

h1 {
    font-family: "Dosis", sans-serif;
    font-color: #3F3D56;
    font-size: 32px;
    margin-bottom: 16px;
}

h1 span {
    color: #EE24FF;
    font-weight: bold;
}

p {
    color: #3F3D56;
    font-size:15px;
    line-height: 22px;
    margin: 0px 30px 0px 30px;
}

p strong {
    color: #3F3D56;
    font-size: 15px;
    font-weight: bold;
} 

#footer a + a {
    margin-left: 42px;
}

a {
    color: #EE24FF;
    font-weight: bold;
}

.line {
    width:391px;
    height: 0px;
    margin: 64px auto 16px;
    border: 2px solid #ECEFF2;
}

#wave {
    display: ;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 0px;
}
